<li class="card">
  <div class="card-header">
      {{#if name}}
        {{model.name}}
      {{else}}
        {{#if model.address.road}}
          {{model.address.road}}
        {{else}}
          {{model.query}}
        {{/if}}
      {{/if}}
  </div>
  <div class="card-copy">
    <p>
      Entfernung: <span data-hook="distance"></span>
      <a class="maps-link" href="http://maps.google.de/maps?q={{model.lat}},{{model.lon}}({{model.query}})">Google Maps</a>
    </p>
  </div>
</li>
