<li class="card">
  <div class="card-header">
      {{#if model._name}}
        {{model._name}}
      {{else}}
        {{model.address.road}}
      {{/if}}
  </div>
  <div class="card-copy">
    <p>
      Entfernung: <span data-hook="distance"></span>
      <a href="http://maps.google.de/maps?q={{model.lat}},{{model.lon}}({{model._query}})">Google Maps</a>
    </p>
  </div>
</li>
